<div>
    <h4>ASP.Net MVC Pagination</h4>
    <hr />
</div>
<div class="row">
    <div class="col-lg-4">
        <b>Search</b>
        <input id="Search" onkeyup="SearchEvent()" class="form-control form-control-sm" />
    </div>
</div>
<div class="table-responsive pt-4">
    <table class="table table-sm" id="htmlTableUsers">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Age</th>
                <th>DateCreated</th>
            </tr>
        </thead>
        <tbody>
            @{
                try // TAKE NOTE YOU MUST USE TRY CATCH HERE
                {
                    for (int i = Model.start; i < Model.end; i++)
                    {
                        <tr>
                            <td>@Model.table[i].id</td>
                            <td>@Model.table[i].firstname</td>
                            <td>@Model.table[i].lastname</td>
                            <td>@Model.table[i].age</td>
                            <td>@Model.table[i].datecreated</td>
                        </tr>
                    }
                }
                catch { }

                //THE PAGE ENTRY AND PAGINATION MUST BE ALWAY BELOW OR ABOVE THE TRY CATCH
                <tr>
                    <td colspan="5">
                        <div>
                            @Model.page_entry

                        </div>
                        <div>
                            @Model.pagination
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    //// VERSION 1.0.1
    function SearchEvent() 
    {
        var val = document.getElementById('Search').value;
        htmlTableUsers_SearchEvent({
            search: val, // search this is the parameter from your controller IndexAsync(string search,string test)
            test: "Add more filter"
        });
    }
</script>